<mat-form-field [formGroup]="group"
  floatLabel="always">
  <input matInput
    [matDatepicker]="picker"
    [formControlName]="field.key"
    [placeholder]="field.label"
    [errorStateMatcher]="errorStateMatcher">
    <mat-datepicker-toggle matSuffix
    [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
    @for (validation of field.validators; track validation) {
      <ng-container
        ngProjectAs="mat-error">
        @if (group.get(field.key).hasError(validation.name)) {
          <mat-error>{{validation.message}}</mat-error>
        }
      </ng-container>
    }
  </mat-form-field>
