<div cdkDropListGroup>
  <div class="example-container">
    <h2>Available</h2>
    <div cdkDropList
      id="SourceList"
      [cdkDropListData]="source"
      class="example-box"
      (cdkDropListDropped)="drop($event)"
      [cdkDropListEnterPredicate]="toDoCanDrop"
      cdkDropListSortingDisabled>
      @for (item of source; track item.key) {
        <div class="example-box"
          [cdkDragData]="item"
          cdkDrag>
          <div class="example-custom-placeholder"
            *cdkDragPlaceholder>
            <p>{{item.value.Name}}</p>
          </div>
          <div class="example-custom-previewHolder"
            *cdkDragPreview>
            <p>{{item.value.Name}}</p>
          </div>
          <p>{{item.value.Name}}</p>
        </div>
      }
    </div>
  </div>
  <div class="example-container">
    <h2>Basket</h2>
    <div cdkDropList
      id="DestinationList"
      [cdkDropListData]="destination"
      class="example-box"
      (cdkDropListDropped)="drop($event)"
      cdkDropListSortingDisabled="false">
      @for (item of destination; track item.key ) {
        <div class="example-box"
          [cdkDragData]="item"
          cdkDrag>
          <div class="example-custom-placeholder"
            *cdkDragPlaceholder>
            <p>{{item.value.Name}}</p>
          </div>
          <div class="example-custom-previewHolder"
            *cdkDragPreview>
            <p>{{item.value.Name}}</p>
          </div>
          <p>{{item.value.Name}}</p>
        </div>
      }
    </div>
  </div>
  @for (validationField of field.validators; track validationField) {
    <div style="width: 300px;"
      >
      @if (group.controls[field.key]) {
        <div>
          @if (group.controls[field.key].errors && group.controls[field.key].errors[validationField.name]) {
            <div class='red'
              >
              {{validationField.message}}
            </div>
          }
        </div>
      }
    </div>
  }
</div>
