<mat-form-field [formGroup]="group"
  floatLabel="always">
  <mat-label>{{field.label}}</mat-label>
  <input matInput
    [formControlName]="field.key"
    [type]="field.inputType"
    [errorStateMatcher]="errorMapper">
    @for (validation of field.validators; track validation) {
      <ng-container
        ngProjectAs="mat-error">
        @if (group.get(field.key).hasError(validation.name)) {
          <mat-error>{{validation.message}}</mat-error>
        }
      </ng-container>
    }
  </mat-form-field>
