<fieldset>
  <legend>{{field.label}}
    <p class="dirtyMarker"
       [ngClass]="group.dirty ? 'red': 'green'"> *</p>
  </legend>
  <div [formGroup]=group
       fxLayout="column"
       fxLayoutAlign="start center">
    <ag-grid-angular style="width: 350px; height: 300px;"
                     class="ag-theme-material"
                     [rowData]="rows"
                     [columnDefs]="field.columnDefinitions"
                     [components]="getComponents()"                     
                     [context]="getContext()"
                     (rowDataChanged)="refreshFormControls()"
                     (gridReady)="gridReady($event)"                     
                    
                     [rowSelection]="rowSelection"
                     (selectionChanged)="onSelectionChanged()">
    </ag-grid-angular>
  </div>
  <button (click)="onAdd()">Add </button>
  <button (click)="onRemove()">Remove</button>
  <button (click)="onReset()">Reset</button>
</fieldset>
