<fieldset>
  <legend>{{field.label}}
    <p class="dirtyMarker" [ngClass]="group.dirty ? 'red': 'green'"> *</p>
  </legend>
  <div [formGroup]=group>
    <div formArrayName="formArray" *ngFor="let item of formArray.controls; let i = index;">
      <div [formGroupName]="i">
        <input formControlName="name" placeholder="Item name">
        <input formControlName="description" placeholder="Item description">
        <input formControlName="price" placeholder="Item price">
      </div>
    </div>
  </div>
  <button (click)="onAdd()">Add </button>
  <button (click)="onRemove()">Remove</button>
  <button (click)="onReset()">Reset</button>
</fieldset>
