<mat-form-field [formGroup]="group"
  floatLabel="always">
  <mat-select [placeholder]="field.label"
    [formControlName]="field.key"
    [errorStateMatcher]="errorMapper">
    @for (item of field.options; track item) {
      <mat-option
      [value]="item">{{item}}</mat-option>
    }
  </mat-select>
  @for (validation of field.validators; track validation) {
    <ng-container
      ngProjectAs="mat-error">
      @if (group.get(field.key).hasError(validation.name)) {
        <mat-error>{{validation.message}}</mat-error>
      }
    </ng-container>
  }
</mat-form-field>
