.red {
  color: red;
}

.center {
  margin: auto;
  max-width: 400px;
}

.grid {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: 100px 70px;
  grid-template-rows: 20px;
  background-color: blanchedalmond;
  margin-bottom: 25px;
}

.grid-item-right {
  text-align: right;
}

.grid-item-left {
  text-align: left;
}

.formGrid {
  /* grid-template-rows: auto;
  display: grid;
  grid-column-gap: 5px;
  grid-row-gap: 5px;
  grid-template-columns: auto; */
}

.formBorder{
  min-height: 800px;
  border:rgb(192, 192, 255) 2px solid;
}
.formbackGround{
  background-color: rgb(235, 241, 255);

}



.dirtyMarker {
  position: relative;
  display: inline;
  padding-left: 5px;
  font-size: 1.5em;
}

.red {
  color: crimson;
}

.green {
  color: green;
}
