<p>my-form works!</p>
<div class="center">
  <div class="grid">
    <div class='grid-item-right'>touched:</div>
    <div class='dirtymarker'
      [ngClass]="dynamicFormGroup.touched ? 'red': 'green'">{{dynamicFormGroup.touched}}</div>
    <div class='grid-item-right'>dirty:</div>
    <div class='red'
      [ngClass]="dynamicFormGroup.dirty ? 'red': 'green'">{{dynamicFormGroup.dirty}}</div>
  </div>
  <form [formGroup]="dynamicFormGroup"
    name="for">
    <ng-container *ngFor="let field of fields;"
      DynamicElement
      [field]="field"
      [group]="dynamicFormGroup">
    </ng-container>
  </form>
  <!-- <div class="margin-top"> {{dynamicFormGroup.value | json}} </div> -->
</div>
