<mat-form-field [formGroup]="group"
  floatLabel="always"
  class="mat-form-field--no-underline">
  <mat-label>{{field.label}}</mat-label>
  <input matInput
    placeholder="Input"
    style="display: none">
    <mat-checkbox [formControlName]="field.key"
      [indeterminate]="isIndeterniate === true">
      <mat-label>{{field.label}}</mat-label>
    </mat-checkbox>
    @for (validation of field.validators; track validation) {
      @if (group.get(field.key).hasError(validation.name)) {
        <mat-error class="mat-form-field-subscript-wrapper"
        >{{validation.message}}</mat-error>
      }
    }
  </mat-form-field>
