:host {
  width: 100%;
}

:host > * {
  width: 95%;
}

// ::ng-deep .mat-form-field--no-underline .mat-form-field-underline {
//   background-color: transparent;
// }

/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
/* TODO(mdc-migration): The following rule targets internal classes of form-field that may no longer apply for the MDC version.*/
.mat-form-field-appearance-legacy .mat-form-field-subscript-wrapper {
    margin-top: 1em;
    top: calc(100% - 1.6666666667em);
}
